// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #F47721;

#main-nav {
  background: transparent;
}

.contact-page {
  width: 100%;
  margin: 0 auto;

  h1 {
	padding-top: 100px;
	font-weight: 300;
	font-size: 44px;
	color: $primary;
  }

  .vertical-separator {
	height: 100px;
	width: 100%;
  }

  .row {
	.text-field {
	  margin-right: 60px;
	  p {
		font-weight: 300!important;
		font-size: 19px!important;
		padding-right: 6rem!important;
	  }
	}
  }


  .column-custom {
	display: flex;
	flex-direction: row;
	.cols {
	  flex: 1;
	  min-height: 665px;
	  background: #eee;
	  padding-bottom: 100px;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-end;
	}
  }



}

.maps {
  label {
	color: $primary;
	font-size: 15px;
	font-weight: 700!important;
  }
  h1 {
	font-size: 30px !important;
	font-weight: 300!important;

  }
}

ul {
  padding-left: 10px;
  li {
	list-style: none;
  }
}
